.nav-centered {
    padding: $spacer 0;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    color: $text-color !important;
}
@media screen and (min-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: calc(50% - 80px);
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}
